DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:5432/DB_NAME

# API key from OpenAI or another LLM provider
OPENAI_API_KEY=

# SQS URL from AWS for the telemetry queue
TELEMETRY_QUEUE_URL=https://sqs.REGION.amazonaws.com/ACCOUNT_ID/QUEUE_NAME

# AWS Region
AWS_REGION=

JWT_SECRET_KEY=change-me-to-a-long-random-string
